:host {
  display: block;
}

li {
  padding: 1em;
  border-bottom: 1px solid lightgray;
}

li:hover {
  background-color: lightblue;
  cursor: pointer;
}

li.selected {
  background-color: blue;
  color: white;
}
